body {
    display: flex;
    flex-direction: column;
}

#entername {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#chooseanimalsection {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#Dicerollsection {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}