/* everything */
* {
    margin: 0px;
    padding: 0px;
}

#pizzabody {
    background-image: url("fixed-price-pizza-pizza-dough-clipart-11563029204cueu0mmqbb-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1300px;
    
}

/* hedder */
header {
    text-align: center;
    /* background-color: rgb(235, 206, 168); */
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* pizza image */
#pizzaimage {
    height: 100px;
    width: 100px;
}

/* top navigation button section */
#navigation {
    text-align: center;
    max-width: 600px;
    max-height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
}

/* top navigation button list section */
#navigation li {
    list-style-type: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

/* top navigation button section */
#navigation button {
    height: 20px;
    width: 58px;
}

/* top navigation link section */
#navigation a {
    text-decoration: none;
}

/* first section for all selection options */
#makepizzaoptions {
    
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

/* top fieldset items */
fieldset {
    max-height: 140px;
}

/* heading of item */
legend {
    font-size: 30px;
}


/* image of item */
fieldset> label > img {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;

}

footer {
    height: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}